@import url("https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/*
	Colors:
	#ffd600
	#ffff52
	#c7a500

	#ffab00
	#ffdd4b
	#c67c00

	#ff9100
	#ffc246
	#c56200

	Второй набор
	#9C9057
	#C5B467
	#8F8241
*/
body 
{
	background: lightgray;
	margin: 0px;
	font-family: "Open Sans";
}

a {
	text-decoration: none;
	color: black;
	padding: 2px;

	
}

input, textarea, select {
	box-sizing: border-box;
	font-size: 14px;
	padding: 5px;

	&.error {
		border-color: red;
	}
}

button {
	background-color: #F7F7F7;
	border: none;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;

	/*-&:hover {
		background-color: lightgray;
	}*/

	&:hover {
		background-color: #ffd600;
		cursor: pointer;
		& a {
			color: gray;
		}
	}

	&.red:hover {
		background-color: red;
		color: white;
	}
}

.header {
	height: 30px;
	background-color: gray;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;

	&-container {
		display: flex;
		justify-content: space-between;
		color: white;

		& div {
			display: flex;
		}
	}

	&-link {
		color: white;
		border-radius: 5px;
		padding-top: 4px;

		&:hover {
			background-color:  #ffd600;
			color: gray;
		}
	}

	&-user {
		text-align: center;
		padding-top: 4px;
    	margin-right: 10px;
	}

	&-menu_btn {
		width: 30px;
		
		&:hover {
			background-color: #ffd600;

			& i {
				color: gray;
			}
		}
		

		& i {
			height: 20px;
			width: 20px;
			margin: 5px;
			font-size: 20px;
			color: lightgray;
		}
	}
}

.main {
	&-menu {
		list-style: none;
		padding: 0px;
		margin: 0px;


		&_item {

			padding: 0px;

			& i {
				margin-right: 5px;
			}

			&.active {
				& .item-link {
					color: white;
					background-color: #ffab00;
				}
			}

			& a {
				padding: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 16px;
				color: lightgrey;
				display: block;
				text-decoration: none;
				overflow: hidden;

				&:hover {
					background-color: #ffd600;
					color: gray;
				}
			}
			
		}
	}

	&-submenu {
		background-color: #6D6D6D;
		list-style: none;
		padding: 0px;
		padding-left: 5px;

		&_item {

			padding: 0px;

			& i {
				margin-right: 5px;
			}

			& a {
				padding: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 16px;
				color: lightgrey;
				background-color: #6D6D6D;
				display: block;
				text-decoration: none;
				overflow: hidden;

				&:hover {
					background-color: #ffd600;
					color: gray;
				}
			}
		}
	}
}

.none {
	display: none;
}

.main-wrap {
	display: flex;
	margin-top: 30px;
}

.left-sidebar {
	width: 250px;
	background: gray;
	height: 100%;
	position: fixed;

	&.minimize {
		width: 30px;

		& .main-menu {
			&_item {
				& .main-submenu {
					display: none;
				}
			}
		}

	}
}

.main-container {
	width: calc(100% - 500px);
	margin-left: 250px;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	height: 100%;  

	&.minimize {
		margin-left: 30px;
	}
}



.right-sidebar {
	width: 350px;
	padding: 20px;
	padding-top: 0px;
	height: 100%;
}

.base-container {
	margin-top: 20px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;

	&_header {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		font-size: 18px;

		&:hover span .icon {
			border-left: 2px solid #ff9100;
			border-bottom: 2px solid #ff9100;
		}

	}

}

.container-field {
	border-top: 1px solid lightgray;
	padding: 10px;

	&_multiselect {
		display: flex;

		& .field_multiselect {
			width: calc(50% - 5px);
			padding-top: 5px;
			padding-bottom: 5px;

			&:nth-child(1) {
				margin-right: 5px;
			}

			&:nth-child(2) {
				margin-left: 5px;
			}

			& input {
				width: 100%;
			}

			& select {
				width: 100%;
			}

			& .first_select {
				margin-top: 5px;
			}

			& .second_select {
				margin-top: 35px;
			}
		}
	}

	&_wrap {
		width: 100%;

		& input {
			width: 100%;
		}

		& select {
			width: 100%;
		}

		& textarea {
			width: 100%;
			height: 150px;
		}
	}
	
	

	& label {
		font-weight: 600;

		& span {
			color: red;
		}

		&.info-label {
			font-size: 13px;
			font-weight: 300;

			& span {
				font-weight: 600;
				color: black;
			}
		}
	}

	& p {
		font-size: 12px;
		margin-top: 5px;
    	margin-bottom: 5px;
	}

	&.right {
		display: flex;
   	 	flex-direction: row-reverse;
	}

	&_table {
		width: 100%;
		border-spacing: 0px;

		& td {
			padding: 5px;

			& a {
				border-radius: 5px;

				&:hover {
					color: gray;
					background-color: #ffd600;
				}
			}
		}

		&-header {
			background-color: lightgrey;
		}

	}

	&_navigation {
		display: flex;

		& div {
			margin-left: auto;
			margin-right: 0;

			& a {
				border-radius: 5px;

				&:hover {
					color: gray;
					background-color: #ffd600;
				}

				&.active {
					background-color: #ff9100;
					color: white;
				}
			}
		}
		
	}

	&_image {
		display: flex;
		flex-direction: column;

		& img {
			max-width: 205px;
			margin-top: 5px;
		}

		&-buttons {
			margin-top: 5px;
			& button {
				width: 100px;
			}
		}		
	}

	&_checkbox {
		border-radius: 5px;
		border: 2px solid lightgrey;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&.active {
			background-color: #ff9100;
		}

		&:hover {
			background-color: #ffd600;
		}
	}

}

.width {
	&_max {
		width: 100%;
	}

	&_40px {
		width: 40px;
	}

	&_200px {
		width: 200px;
	}

	&_minus240px {
		width: calc(100% - 240px);
	}

	&_minus240px {
		width: calc(100% - 440px);
	}

	&_160px {
		width: 160px;
	}

	&_minus200px {
		width: calc(100% - 200px);
	}
}

.repeater{
	&-container {
		width: 100%;
		height: 100%;
		padding-top: 5px;
	}


	&-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		
	
		&_number {
			width: 30px;
			background-color: lightgray;
			text-align: center;
			vertical-align: middle;
			border: 1px solid lightgray;
			display: flex;
			flex-direction: column;
			align-items: center;
	
			&:hover .hide_btn {
				display: block;
			}

			& .hide_btn {
				width: 20px;
				height: 20px;
				color: black;
				position: relative;
				top: -10px;
				border-radius: 5px;
				display: none;
				
				& .icon {
					margin-top: -3px;
					margin-left: -1px;
					border-color: black;
				}
			}

			& span {
				margin: auto 0;
			}

		}
	
		&_content {
			width: 100%;
			border: 1px solid lightgray;

			& .container-field:nth-child(1) {
				border: none;
			}
		}
	
		&_btns {
			width: 30px;
			display: flex;
			padding: 5px;
			justify-content: space-between;
			border: 1px solid lightgray;
			flex-direction: column;
			align-items: center;

			& button {
				width: 20px;
				height: 20px;
				padding: 0px;
				display: none;
				&.add-up_btn {
					position: relative;
					top: -15px;
				}

				&.rm_btn {
					/*position: relative;
					top: calc(50% - 55px);*/
					margin: auto 0;
				}
			}

			&:hover button {
				display: block;
			}
		}
	}

	&-line {
		display: flex;
		padding-top: 5px;
		padding-bottom: 5px;
		flex-direction: row-reverse;
	}
}


.icon {
	border-left: 2px solid #ffab00;
	border-bottom: 2px solid #ffab00;
	width: 10px;
	height: 10px;
}


.icon-down {
	transform: rotate(-45deg);
	margin-top: 2px;
}

.icon-up {
	transform: rotate(135deg);
	margin-top: 8px;
}

/*
	Авторизация
*/
.auth-container {
	width: 100%;
	padding: 10px;
	display: flex;

	& .base-container {
		margin: auto;
		width: 100%;
		max-width: 350px;
	}
}

/*
	Всплывающие окна
*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;

	&-opas {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
    	height: 100%;
   		background: rgba(0, 0, 0, 0.8);
		z-index: 998;
	}

	&-flex {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9999999;
	}

	&-wrap {
		position: relative;
		background: #ffffff;
		z-index: 9999;
		padding: 0px;
		width: auto;
		border-radius: 5px;

		& h4 {
			margin: 10px;
		}

	}

	&-close {
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;

		&:hover {
			color: red;
		}
	}

	&-scroll {
		overflow-y: auto;
		scrollbar-color: #ffd600 #D2D7DC;
		scrollbar-width: 3px;
	}

	&-container {
		border-top: 1px solid lightgrey;
		padding: 10px;
	}
}

/*
	Загрузка файлов
*/

.upload {
	&-progress {
		width: 50%;
		background-color: #ffd600;
		height: 20px;

		&_line {
			display: flex;
		}

		&_bar {
			width: 300px;
			height: 20px;
			border: 2px solid lightgrey;
			border-radius: 5px;
			margin-right: 5px;
		}
	}

	&-cancel {
		&:hover {
			color: red;
			cursor: pointer;
		}
	}
}

.attachments {
	&-container {
		display: flex;
	}

	&-list {
		width: 600px;
	}

	&-info {
		width: 240px;
		border-left: 1px solid lightgrey;
		padding: 5px;
		flex-direction: column;
		display: flex;

		& label {
			font-weight: 600;
	
			& span {
				color: red;
			}
	
			&.info-label {
				font-size: 13px;
				font-weight: 300;
	
				& span {
					font-weight: 600;
					color: black;
				}

				& a {
					&:hover {
						color: gray;
						background-color:#ffd600;
						border-radius: 5px;
					}
				}
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		max-height: 50vh;
		overflow-y: auto;
   		scrollbar-color: #ffd600 white;
		scrollbar-width: 3px;
		
		&::-webkit-scrollbar {
			width: 3px;
			color: white;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #ffd600;
		}
	}


	&-item {
		padding: 5px;
		width: 125px;
		margin: 5px;
		display: flex;
		height: 125px;
		background-color: lightgrey;

		& img {
			max-width: 125px;
			margin: auto 0;
		}

		&.active {
			background-color: #ffd600;
		}
	}

	&-load_more {
		width: 100%;
		display: flex;

		& button {
			margin: 10px auto;
		}
	}
}

@media(max-width: 1400px)
{
	.left-sidebar {
		width: 160px;
	}

	.main-container {
		margin-left: 160px;
		width: calc(100% - 440px);
	}
}

@media(max-width: 880px) {
	
	.main-wrap {
		flex-direction: column;
	}

	.right-sidebar {
		width: calc(100% - 70px);
		margin-left: 160px;

		&.minimize {
			margin-left: 30px;
		}
	}

	.main-container {
		width: calc(100% - 70px);
		margin-left: 160px;
	}
}

@media(max-width: 550px) {

	.container-field {
		&_multiselect {
			flex-direction: column;
		}

		& .field_multiselect {
			width: 100%;

			&:nth-child(2) {
				margin-left: 0px;
			}

			& .second_select {
				margin-top: 5px;
			}
		}
	}
}