$required_text_colour: #ec4646;
$background_colour: #d3d3d3;

$save_colour: #1de8b5;

$border_colour: #000000;
$hover_colour: #1de8b5;

$default_text_color: #000000;

$font_Open_Sans: 'Open Sans', sans-serif;
$font_size_input: 13px;
$font_size_title_block: 18px;




*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: $font_Open_Sans;
  font-weight: 400;
  font-size: 14px;

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center center;
  background-color: $background_colour;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $hover_colour;
    transition: all .2s ease-out;
  }
}

button {
  background-color: $background_colour;

  transition: background-color .3s ease-out;
  outline: none;
}

.header_text {
  color: $default_text_color;
  font-size: $font_size_title_block;
}

.container{
  width: 350px;
  height: 245px;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin-right: -50%;
  //transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.border_top {
  border-top: 1px solid $background_colour;
}
.padding_10 {
  padding: 10px;
}
.style_input_field {
  width: 100%;
  font-family: $font_Open_Sans;
  font-size: $font_size_input;
  color: $default_text_color;
  outline: none;
  padding: 5px;
  border: 1px solid $border_colour;
}

.title_section {
  font-weight: 600;
  margin-bottom: 5px;

  & span {
    color: $required_text_colour;
  }
}

.field_section_container_button{
  display: grid;
  place-items: center end;
}
.save {
  &:hover {
    background-color: $save_colour;
  }
}
.style_button {
  width: 120px;
  height: 30px !important;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $hover_colour;
    transition: all .3s ease-out;
  }
}