$required_text_colour: #ec4646;
$header_text_colour: #eeeeee;
$header_admin_text_colour: #eeeeee;
$field_section_colour: #ffffff;
$background_colour: #d3d3d3;
$header_background_colour: #0d7377;

$error_message_notification: #ec4646;
$error_bg_message_notification: #ffe9e9;
$warning_message_notification: #ffc85c;
$warning_bg_message_notification: #fff8e9;
$ok_message_notification: #0d7377;
$ok_bg_message_notification: #e8f9fa;


$shadow_notification_colour: #717171;

$left_background_sidebar_colour: #393e46;
$left_background_sidebar_submenu_colour: #212121;

$sidebar_icon_colour: #ffffff;
$selected_sidebar_icon_colour: #ffffff;
$left_text_sidebar_colour: #ffffff;

$mark_check: #0d7377;
$mark_check_hover: #1de8b5;


$selected_color: #0d7377;
$add_colour: #1de8b5;
$save_colour: #1de8b5;
$change_colour: #1de8b5;
$delete_colour: #ec4646;
$delete_text_colour: #ffffff;

$border_colour: #000000;
$input_box_bg_color: #ffffff;
$hover_colour: #1de8b5;

$default_text_color: #000000;
$selected_text_color: #ffffff;

$colour_icon_awesome: #00587a;
$colour_hover_add_icon_awesome: #1de8b5;
$colour_hover_delete_icon_awesome: #ec4646;

$switch_on_color: #0d7377;
$switch_off_color: #000000;
$switch_text_color: #ffff;

$font_Open_Sans: 'Open Sans', sans-serif;
$font_size_input: 13px;
$font_size_container: 13px;
$font_size_help_text: 12px;
$font_size_header: 30px;
$font_size_admin_header: 18px;
$font_size_multiple_select: 12px;
$font_size_title_block: 18px;

$font_size_sidebar_icon: 25px;
$font_size_sidebar_text: 14px;

$ladmin_font_size: 24px;


*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  font-family: $font_Open_Sans;
  font-weight: 400;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    color: $hover_colour;
    transition: all .2s ease-out;
  }
}
button{
  background-color: $background_colour;

  transition: background-color .3s ease-out;
  outline: none;
}
textarea{
  resize: vertical;
}
li{
  list-style-type: none;
  align-items: center;
}

option{
  &:checked {
    color: $selected_text_color;
    background: $selected_color linear-gradient(0deg, $selected_color 0%, $selected_color 100%);
  }
  &:hover{
    outline: none;
    background-color: $hover_colour !important;
  }
}

.padding_10{
  padding: 10px;
}
.padding_lr_20{
  padding: 0 20px 0 20px;
}

.grid_container{
  display: grid;
  min-height: 100vh;
  grid-template: minmax(50px, auto) 1fr 60px / minmax(auto, auto) 1fr 370px;
  grid-template-areas:
  "sidebar header header"
  "sidebar content sidebar_right"
  "sidebar footer_site footer_site";
}
.header{
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: header;
  background-color: $header_background_colour;
  display: grid;
  grid-template: auto/ auto auto;
  place-content: center space-between;
  font-family: $font_Open_Sans;
  &_info{
    cursor: default;
    height: 100%;
    display: flex;
    align-items: center;
    color: $header_text_colour;
    font-size: $font-size_header;
    .header_icon{
      margin-right: 20px;
    }
  }
  &_admin{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $font_size_admin_header;
    color: $header_admin_text_colour;
    .header_admin_notification{
      cursor: pointer;
      position: relative;
      .show_triangle{
        display: block;
        position: absolute;
        top: 7px;
        left: -3px;
        font-size: 35px;
        color: $field_section_colour;
      }
    }
    .show_triangle{
      display: none;
    }
    .show{
      .notification{
        position: absolute;
        top: 50px;
        right: 20px;
        width: 500px;
        max-height: 300px;
        overflow-y: scroll;
        background-color: #ffffff;
        box-shadow:
                6px 6px 13px -1px $shadow_notification_colour,
                -6px 6px 13px -1px $shadow_notification_colour;


        .error{
          background-color: $error_bg_message_notification;
          .notification_message_priority{
            background-color: $error_message_notification;
          }
        }
        .warning{
          background-color: $warning_bg_message_notification;
          .notification_message_priority{
            background-color: $warning_message_notification;
          }
        }
        .ok{
          background-color: $ok_bg_message_notification;
          .notification_message_priority{
            background-color: $ok_message_notification;
          }
        }
        .notification_message{
          opacity: 0;
          //visibility: hidden;
          max-height: 0;
          animation: hide_notification_mes .3s linear;
        }

        @keyframes hide_notification_mes {
          0%{
            opacity: 1;
            width: 100%;
            visibility: visible;
            max-height: 97px;
          }
          100%{
            opacity: 1;
            max-height: 0;
          }
        }

        .notification_not_found{
          color: $default_text_color;
          padding: 5px;
          .notification_message_text{
            animation: hide_notification_mes .3s linear;
          }
          @keyframes ttttt {
            0%{
              max-height: 97px;
            }
            100%{
              max-height: 0;
            }
          }
        }

        .animate_not_open{
          max-height: 97px;
          & .notification_message_text{
            animation: show_notification_not_found .5s linear;
          }
        }
        @keyframes show_notification_not_found {
          0%{
            max-height: 0;
          }
          100%{
            max-height: 97px;
          }
        }
      }
    }
    //&
    .header_admin_name{
      margin: 0 10px;
      cursor: pointer;
    }
    .header_admin_log_out{
      cursor: pointer;
      //position: relative;
    }

  }
  .show_not{
    .active{
      position: relative;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $required_text_colour;
        position: absolute;
        top: 0;
        left: 8px;
      }

    }
    .notification {

      .notification_not_found{
        padding: 5px 5px;
        opacity: 1;
        color: $default_text_color;
      }

      & .notification_message{
        opacity: 1;
        visibility: visible;
        color: $default_text_color;
        overflow: hidden;
        display: grid;
        grid-template: auto / 5px 1fr 25px;
        .notification_message_priority{
          margin: 5px 0;
        }
        .notification_content{
          cursor: pointer;
          display: grid;
          grid-template: 1fr auto / 1fr;
          grid-template-areas:
                  "grid_message_text"
                  "grid_message_date";
          .notification_message_text{
            grid-area: grid_message_text;
            color: $default_text_color;
            font-size: $font_size_sidebar_text;
            margin: 10px 5px 0 5px;
            max-height: 50px;
            overflow: hidden;
          }
          .notification_message_date{
            grid-area: grid_message_date;
            height: 40px;
            display: grid;
            margin: 0 5px;
            place-items: center start;
            color: $default_text_color;
            font-size: $font_size_help_text;
          }
        }
        .notification_message_control{
          .delete_notif {
            margin-top: 5px;
            display: grid;
            place-items: start center;
            color: $default_text_color;
            &:hover {
              color: $delete_colour;
            }
          }
        }
      }
      .active_show{
        max-height: 100%;
        animation: show_notification_mes .4s linear;
      }
      @keyframes show_notification_mes {
        0%{
          max-height: 0;
        }
        100%{
          max-height: 97px;
        }
      }


    }
  }
}

.sidebar{
  grid-area: sidebar;
  background-color: $left_background_sidebar_colour;
  .block_open_sub_menu{
    & .sidebar_content{
      .control_menu {
        .sidebar_menu_items {
          display: none !important;
        }
      }
    }
  }
  .sidebar_position{
    position: sticky;
    top: 0;

    .sidebar_content{
      .control_menu{

        .sidebar_menu_items{
          opacity: 0;
          visibility: hidden;
          height: 0;
          transition: all .5s linear;
          .sidebar_menu_item{
            animation: hide_sub_menu .5s linear;
            .sidebar_menu_text{
              animation: hide_sub_menu_text .5s ease-out ;
            }
          }
        }
      }
      .sidebar_menu_item{
        display: grid;
        grid-template: 50px / 50px 175px 25px;
        grid-template-areas:
                "menu_icon menu_text control_nmenu_item";
        .sidebar_menu_icon{
          grid-area: menu_icon;
          display: grid;
          //grid-template: 1fr / 1fr;
          place-items: center;
          width: 100%;
          height: 100%;
          color: $sidebar_icon_colour;
          font-size: $font_size_sidebar_icon;
          transition: all .3s ease-out;
        }
        .sidebar_menu_text{
          overflow: hidden;
          grid-area: menu_text;
          display: grid;
          place-items: center start;
          line-height: 50px;
          color: $left_text_sidebar_colour;
          font-size: $font_size_sidebar_text;
          transition: all .3s ease-out;
        }
        .sidebar_control_menu_item{
          grid-area: control_nmenu_item;
          color: $sidebar_icon_colour;
          display: grid;
          place-items: center;
          transition: all .3s ease-out;
        }

        transition: all .3s ease-out;
        &:hover{
          background-color: $hover_colour;
          .sidebar_control_menu_item,
          .sidebar_menu_icon,
          .sidebar_menu_text{
            color: $default_text_color;
          }
        }
      }

      .active {
        width: 100% !important;
        .main_menu{
          background-color: $selected_color;
          &:hover{
            background-color: $hover_colour;
          }
          & .sidebar_control_menu_item{
            transform: rotate(180deg);
          }
        }
        .sidebar_menu_items {
          opacity: 1;
          visibility: visible;
          height: 100%;
          display: block;
          background-color: $left_background_sidebar_submenu_colour;
          .sidebar_menu_item:hover {
            background-color: $left_background_sidebar_submenu_colour;
            .sidebar_menu_text:hover {
              color: $hover_colour;
            }
          }
          .sidebar_menu_item{
            height: 0;
            animation: hide_sub_menu .5s linear;
            .sidebar_menu_text{
              overflow: hidden;
              line-height: 50px;
              opacity: 0;
              animation: hide_sub_menu_text .5s ease-out ;
            }
          }
          .active .sidebar_menu_text{
            color: $selected_color;
            //font-weight: 600;
          }
          @keyframes hide_sub_menu {
            0%{
              height: 50px;
            }
            100%{
              height: 0;
            }
          }
          @keyframes hide_sub_menu_text {
            0%{
              opacity: 1;
            }
            50%{
              opacity: 0;
            }
            100%{
              opacity: 0;
            }
          }
        }
      }
      .ladmin{
        & .sidebar_menu_text{
          color: $left_text_sidebar_colour ;
          font-size: $ladmin_font_size ;
        }
        &:hover{
          background-color: $left_background_sidebar_colour;
          .sidebar_menu_text{
            color: $left_text_sidebar_colour ;
          }
        }
        .sidebar_menu_icon {
          .menu_area{

            display: grid;
            place-items: center;
            width: 25px;
            height: 20px;
            cursor: pointer;
            &:hover{
              .menu:before,
              .menu:after,
              .menu{
                background-color: $hover_colour;
              }
            }
            .menu{
              display: grid;
              place-items: center;
              width: 100%;
              height: 4px;
              position: relative;
              background-color: $sidebar_icon_colour;
              &:before,
              &:after{
                content: "";
                width: 100%;
                height: 4px;
                position: absolute;
                background-color: $sidebar_icon_colour;
              }
              &:before{
                top: -8px;
              }
              &:after{
                top: 8px;
              }
            }
          }
        }
      }
    }
    width: 50px;

  }
  .sidebar_animation_hide{
    animation: sidebar_menu_hide .5s ease-out;
    @keyframes sidebar_menu_hide {
      0%{
        width: 250px;
      }
      100%{
        width: 50px;
      }
    }
  }
  .active{
    & .sidebar_content{
      .active {
        .main_menu{
          background-color: $selected_color;
          &:hover{
            background-color: $hover_colour;
          }
        }
        .sidebar_menu_items {
          display: block;
          background-color: $left_background_sidebar_submenu_colour;
          .sidebar_menu_item:hover {
            background-color: $left_background_sidebar_submenu_colour;
            .sidebar_menu_text:hover {
              color: $hover_colour;
            }
          }
          .sidebar_menu_item{
            height: 100%;
            overflow: hidden;
            animation: show_sub_menu .5s linear;
            .sidebar_menu_text{
              opacity: 1;
              animation: show_sub_menu_text .7s ease-out ;
            }
          }
          .active .sidebar_menu_text{
            //color: $selected_color;
            //font-weight: 600;
          }
          @keyframes show_sub_menu {
            0%{
              height: 0;
            }
            100%{
              height: 50px;
            }
          }
          @keyframes show_sub_menu_text {
            0%{
              opacity: 0;
            }
            80%{
              opacity: 0;
            }
            100%{
              opacity: 1;
            }
          }
        }
      }
    }

    width: 250px;
    animation: sidebar_menu_active .5s ease-out;
    @keyframes sidebar_menu_active {
      0%{
        width: 50px;
      }
      100%{
        width: 250px;
      }
    }
  }
}

.footer{
  grid-area: footer_site;
  background-color: $left_background_sidebar_submenu_colour;
}


.content{
  z-index: 10;
  grid-area: content;
  background-color: $background_colour;
}

.sidebar_right{
  grid-area: sidebar_right;
  background-color: $background_colour;
}

.border_top{
  border-top: 1px solid $background_colour;
}

.style_button{
  width: 120px;
  height: 30px !important;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: $hover_colour;
    transition: all .3s ease-out;
  }
}

.delete{
  &:hover{
    color: $delete_text_colour;
    background-color: $delete_colour;
  }
}
.save{
  &:hover{
    background-color: $save_colour;
  }
}
.change{
  &:hover{
    background-color: $change_colour;
  }
}

.field_section{
  //width: ;
  margin: 20px 20px 20px  0;
  background-color: $field_section_colour;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
  "section_header"
  "section_container";
  &_header{
    grid-area: section_header;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_text{
      color: $default_text_color;
      font-size: $font_size_title_block;
    }
    .header_icon{
      &:hover{
        color: $hover_colour;
      }
    }
  }
  &_container{
    //display: none;
    grid-area: section_container;
    font-family: $font_Open_Sans;
    font-size: $font_size_container;
    .title_fields {
      .title_field {
        align-items: center;
        & span{
          font-weight: 600;
        }
      }
    }

    &_button{
      height: 50px;
      display: grid;
      place-items: center end;
    }
  }
}

.hid_block{
  .field_section_container {
    display: none;
  }
  .field_section_header{
    .header_icon{
      transform: rotate(180deg);
    }
  }
}

.content{
  .field_section{
    margin-left: 20px;
  }
}
.title_section{
  font-weight: 600;
  margin-bottom: 5px;
  & span{
    color: $required_text_colour;
  }
}
.help_text{
  font-size: $font_size_help_text;
  //font-weight: 400;
  font-style: italic;
  margin-bottom: 5px;
}
.style_input_field{
  width: 100%;
  font-family: $font_Open_Sans;
  font-size: $font_size_input;
  color: $default_text_color;
  outline: none;
  padding: 5px;
  border: 1px solid $border_colour;
}
.selected_image{
  height: 150px;
  transition: all .3s ease-out;

}
.image_section{
  position: relative;
  width: fit-content;
  &:hover {
   & .selected_image {
      opacity: 70%;
    }
    & .control_buttons {
      opacity: 1;
    }
  }
  .control_buttons{
    opacity: 0;
    position: absolute;
    width: content-box;
    transition: all .3s ease-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .style_button{
      margin: 10px;
    }
  }
}

.custom_checkbox{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  z-index: 5;
  &_square {
    width: 13px;
    height: 13px;
    border: 1px solid $border_colour;
    background-color: $input_box_bg_color;
    margin-right: 5px;
    position: relative;
  }
  & input{
    display: none;
  }
  .title_section{
    margin: 0;
  }
  &:hover{
    .custom_checkbox_square:before{
      position: absolute;
      top: -5px;
      left: 4px;
      content: "";
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      width: 6px;
      height: 15px;
      border-right: 2px solid $hover_colour;
      border-bottom: 2px solid $hover_colour;
      transform: rotate(30deg);
    }
  }
}

.checked{
  .custom_checkbox_square:before{
    position: absolute;
    top: -5px;
    left: 4px;
    content: "";
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    width: 6px;
    height: 15px;
    border-right: 2px solid $mark_check;
    border-bottom: 2px solid $mark_check;
    transform: rotate(30deg);
  }
}

.none{
  display: none !important;
}

.button_section{
  display: grid;
  place-items: end;
  padding-top: 10px;
}
.repeater {
  .repeater_style {
    display: grid;
    grid-template: auto / 30px 1fr 30px;
    grid-template-areas: "conut_item content_item control_item";

    .count_item {
      grid-area: conut_item;
      cursor: move;
      display: grid;
      place-items: center;
      background-color: $background_colour;
    }

    .content_item {
      grid-area: content_item;
    }

    .border_solid {
      border: 1px solid $background_colour;
      border-bottom: none;
    }

    .control_item {
      //display: none;
      grid-area: control_item;
      display: grid;
      grid-template: 1fr 1fr / 1fr;
      place-items: start center;
      grid-template-areas: "add_item" "delete_item";

      &:hover {
        .delete_item .position,
        .add_item .position {
          opacity: 1;
        }
      }

      .add_item {
        grid-area: add_item;
        position: relative;

        .position:hover {
          background-color: $colour_hover_add_icon_awesome;
        }
      }

      .delete_item {
        grid-area: delete_item;
        position: relative;
        .position:hover {
          color: $delete_text_colour;
          background-color: $colour_hover_delete_icon_awesome;
        }

      }

      .position {
        transition: all .2s ease-out;
        opacity: 0;
        color: $colour_icon_awesome;
        background-color: $background_colour;
        padding: 3px;
        font-size: 10px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .button_section{
    .style_button:hover{
      background-color: $add_colour;
    }
  }
}

.single_selected_field{
  position: relative;
  .single_selected_item{
    display: grid;
    grid-template: 1fr / 1fr 15px;
    //height: 30px;
    color: $default_text_color;
    .item_text{
      overflow: hidden;
    }
    .item_icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 100%;
      cursor: pointer;
      transition: all .3s ease-out;
      &:hover{
        color: $hover_colour;
      }
    }
    .open_single{
      transform: rotate(180deg);
    }
  }
  .single_items_container{
    color: $default_text_color;
    border: 1px solid $border_colour;
    background-color: $field_section_colour;
    position: absolute;
    top: 30px;
    left: 0;
    max-height: 100px;
    width: 100%;
    overflow-y: auto;
    z-index: 20;
  }
  .container_hidden{
    border: transparent;
    & .custom_selection_item{
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.style_custom_scroll{
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $header_background_colour;
  }
  &::-webkit-scrollbar-button{
    display: none;
  }
  &::-webkit-scrollbar-track{
    //background-color: #e8f9fa;
    //display: none;
  }
  &::selection  {
    background-color: $selected_color;
    color: $selected_text_color;
  }
}

.multiple_section{
  input{
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
}

.multiple_control{
  display: grid;
  grid-template: 1fr / 1fr 1fr ;
  grid-template-areas:
  "multiple_section_1 multiple_section_2";
  grid-column-gap: 10px;
  .multiple_section_1{
    grid-area: multiple_section_1;
    background-color: $input_box_bg_color;
  }
  .multiple_section_2{
    grid-area: multiple_section_2;
    background-color: $input_box_bg_color;
  }
  .multiple_field{
    width: 100%;
    height: 142px;
    border: 1px solid $border_colour;
    overflow-y: auto;
    input{
      display: none;
    }
  }
}

.custom_selection_item{
  padding: 0 5px;
  height: 20px;
  display: grid;
  place-items: center start;
  font-size: $font_size_multiple_select;
  transition: all .2s ease-out;
  &:hover{
    background-color: $hover_colour;
  }
  &[data-value='1']{
    background-color: $selected_color;
    color: $selected_text_color;

    &:hover{
      background-color: $hover_colour;
      color: $default_text_color;
    }
  }
}

.switch_section{
  //$switch_off_color $switch_text_color
  .switch_off {
    //& .custom_switch {
      & .switch_closed {
        animation: turn_off_animate .4s ease-out;
        left: 1px !important;
      }

      @keyframes turn_off_animate {
        0% {
          left: 44px;
        }
        100% {
          left: 1px;
        }
      }

      & .switch_style {
        border: 1px solid $switch_off_color !important;
      }
    //}
  }

  .custom_switch{
    position: relative;
    display: grid;
    grid-template: 25px / repeat(2, 45px);
    place-items: center;
    grid-template-areas:
    "switch_on switch_off";
    &_on{
      grid-area: switch_on;
      color: $switch_text_color;
      background-color: $switch_on_color;
      cursor: default;
    }
    &_off{
      grid-area: switch_off;
      color: $switch_text_color;
      background-color: $switch_off_color;
      cursor: default;
    }
    .switch_style{
      width: 100%;
      height: 100%;
      border: 1px solid $switch_on_color;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .switch_closed{
      position: absolute;
      left: 45px;
      top: 1px;
      width: 44px;
      height: 23px;
      transition: all .3s ease-out;
      animation: turn_on_animate .4s ease-out;
      background-color: $background_colour;
      &:hover{
        background-color: $hover_colour;
      }
      @keyframes turn_on_animate {
        0% {
          left: 1px;
        }
        100% {
          left: 44px;
        }
      }
    }
  }
}

.tab_section{
  &_tab{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .active{
      background-color: $selected_color;
      color: $selected_text_color;
    }
    &_title{
      cursor: default;
      padding: 5px;
      background-color: $background_colour;
      &:hover{
        background-color: $hover_colour;
        color: $default_text_color;
      }
    }
  }
  .fields {
    .section_tab_field {
      height: 100%;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      border: 1px solid $background_colour;
    }

    .active {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

// popup

.animate-bg-popup{
  animation: bg-popup .5s ease-out;
  visibility: visible !important;

  & .animate-show-popup{
    visibility: visible !important;
    animation: show-popup 1s ease-out ;
  }
}
@keyframes bg-popup {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  20%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-popup {
  0%{
    visibility: hidden;
    top: -1vh;
  }
  100%{

  }
}

.animate-bg-popup-close{
  animation: bg-popup-close .6s ease-out;
  //visibility: visible !important;

  & .animate-show-popup{
    //visibility: hidden !important;
    animation: close-popup .4s ease-out ;
  }
}
@keyframes bg-popup-close {
  0%{
    opacity: 1;
    visibility: visible;
  }
  60%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes close-popup {
  0%{
    visibility: visible;
    opacity: 1;
  }
  //50%{
  //  top: -1vh;
  //}
  100%{
    top: -1vh;
    opacity: 0;
    visibility: hidden;
  }
}

.popup {
  width: 100%;
  height: 100%;
  visibility: hidden;
  //overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .remove:hover{
    color: $colour_hover_delete_icon_awesome;
  }

  &-container {
    width: 870px;
    height: 650px;
    background-color: #ffffff;
    position: absolute;
    visibility: hidden;
    content: "";
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.select_file{
  .upload-field {
    display: flex;

    .upload-status {
      width: 300px;
      height: 20px;
      border: 2px solid $background_colour;
      .upload-progress {
        height: 100%;
        width: 20%;
        background-color: $header_background_colour;
      }
    }
    .stop-upload-file{
      margin-left: 10px;
      &:hover{
        color: $colour_hover_delete_icon_awesome;
      }
    }
  }
}

.file-manager{
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 430px;
  grid-template-areas:
  "all_files file_info";

  .all-files{
    grid-area: all_files;
    //background-color: #E8F6EF;
    .uploaded_files{
      overflow-y: scroll;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      //background-color: #0d7377;
      justify-content: center;
      .single_item{
        width: 130px;
        height: 130px;
        margin: 5px;
        background-color: #d3d3d3;
        display: flex;
        align-items: center;

        transition: background-color .3s ease-out;
        &:hover{
          background-color: $hover_colour;
        }
        .single-upload-file{
          width: 100%;
        }
      }
      .selected-file{
        background-color: $header_background_colour ;
      }
    }
    .show_more{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .file-info{
    grid-area: file_info;
    //background-color: #EDF6E5;
  }
}